extends layout

block content
  div.col-md-4.col-md-offset-4
    h1= title
    div= error
    div.mt-15
      table
        thead
          tr
            th='имя'
            th='кол-во'
        tbody
          each data in resData
            tr
              th.pr-5=data.name
              th.pr-5=data.quantity
